@model List<BTL_LaptrinhWeb_BanSach.Models.CartItem>
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/_BookStores_Layout.cshtml";
}


<div class="alert alert-success">
    Bạn vừa mua hàng thành công.
</div>


